body {
  background: url('https://cdn.cnn.com/cnn/.e/img/3.0/global/misc/cnn-logo.png') repeat center;
}

.btn-warning {
  background-color: gray;
  border-color: black;
}

.top-buttons {
  float: right;
  margin: 1%;
}

.top-buttons li {
  margin: 0 2px;
}

.article {
  margin: 3% 5%;
}

.article h2 {
  color: rgb(59, 59, 59);
  font-weight: bolder;
}

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

#titleinput {
  margin-top: 3%;
}

#bodyinput {
  margin-top: .7%;
}

#savenote {
  margin-left: 55%;
}